 .fancybox-lock .fancybox-overlay {
                z-index: 99999999999;
        }
        .hgt_new {
            height: 90% !important;
        }

        @media (min-width:1500px) and (max-width:3200px) {
            .hgt {
                height: 84% !important;
            }
        }

        @media (min-width:993px) and (max-width:1024px) {
            .customer-details ul li {
                border: medium none;
                color: #53565a;
                float: left;
                font-size: 11.4px;
                margin: 0;
            }
        }
        /*input[type="text"], input[type="password"], select, input[readonly] {
            border: 1px solid #bebebe;
            background:#f2f2f2 !important;
            border-radius:0px;
        }*/
        #w2ui-lock {
            z-index: 9999999999 !important;
        }

        #divTwitter iframe {
            /*width: 100% !important;*/
            height: 460px !important;
            margin-left: -9px;
        }

        @media (min-width:1400px) and (max-width:2900px) {
            #divTwitter iframe {
                /*width: 100% !important;*/
                height: 640px !important;
                margin-left: -9px;
            }
        }




        #divTwitter span {
            width: 905px !important;
            height: 430px !important;
        }

            #divTwitter span iframe {
                width: 100% !important;
                height: 420px !important;
                margin-left: -9px;
            }

        #divTwitter .timeline,
        .timeline {
            border-radius: 0px !important;
        }

        .customer_txt_name .topic_box select {
            width: 53.2%;
            border: 1px solid #d6d6d6;
            outline: none;
            padding: 5px 5px 5px 4px;
        }

        .timeline {
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 915px !important;
        }

        #divTwitter {
            padding-left: 1% !important;
            width: 100% !important;
        }

        .connectSection {
            margin:0px;
            float:left;
            width:100%;
        }

            .connectSection p {
                margin: 10px 0;
                padding: 0 10px 0 48px;
            }

            .connectSection .customer_txt {
                padding: 11px 22px;
                font-weight: bold;
                font-size: 12px;
            }

        .customer-details ul li {
            padding: 0 0 0 20px;
        }

        .right_content_box ul li {
            height: auto !important;
            width: 25%;
        }

        .inner_uni1 {
            height: 81% !important;
        }

            .inner_uni1 .setting_save_box {
                padding-top: 10px !important;
            }

                .inner_uni1 .setting_save_box .connect_email_box {
                    margin-top: 10px !important;
                    padding-top: 5px !important;
                }


        .inner_uni2 {
            height: 80% !important;
        }

            .inner_uni2 .setting_save_box {
                padding-top: 10px !important;
            }

                .inner_uni2 .setting_save_box .connect_email_box {
                    margin-top: 8px !important;
                    padding-top: 5px !important;
                }

        .inner_uni3 {
            height: 78% !important;
        }

            .inner_uni3 .setting_save_box {
                padding-top: 4px !important;
            }

                .inner_uni3 .setting_save_box .connect_email_box {
                    margin-top: 3px !important;
                    padding-top: 5px !important;
                }

        .inner_uni4 {
            height: 75% !important;
        }

            .inner_uni4 .setting_save_box {
                padding-top: 4px;
            }

                .inner_uni4 .setting_save_box .connect_email_box {
                    margin-top: 5px !important;
                    padding-top: 5px !important;
                }

        #btnRemoveFile {
            position: relative;
            top: 6px;
        }

        #nofile {
            position: relative;
            top: 6px;
        }

        header, .header-top {
            position: relative;
            /*z-index: 999999999;*/
        }

        .w2ui-tag {
            transition: 0 !important;
            z-index: 9 !important;
        }

        .modal {
              z-index: 999999999 !important;
            /*z-index: 99999999999 !important;*/
        }

        .w2ui-tag.w2ui_popup_box {
            z-index: 9999999999999  !important;
        }
           .w2ui-tag#w2ui-tag-txtUserid, .w2ui-tag#w2ui-tag-txtNewUserId {
            z-index: 99999999999999  !important;
        }
        .setting_save_box {
            overflow: hidden;
            position: relative;
            z-index: 999;
        }

        @media (min-width:992px) and (max-width:1024px) {
            .right_content_box ul li b {
                float: left;
                height: 16px;
                width: 100%;
            }

             .hgt {
                height: 82% !important;
            }
        }

        @media (min-width:1400px) and (max-width:3500px) {

            #divTwitter {
                height:100%;
            }

            #divTwitter iframe {
                height:99% !important;
            }

            .setting_save_box {
                  padding-top: 15px;
            }
        }

       

        @media (max-width:767px) {
            .header-top {
                z-index: 9999999999 !important;
            }
            .right_content_box .customer-details ul li {
                float: left;
                padding-bottom: 13px;
                width: 49% !important;
            }

            .customer_txt_name .topic_box select, input[type="text"], input[type="password"], textarea {
                width: 92% !important;
            }
            /*.energy_mid_box {
                   padding-bottom: 89px;
             }*/
            footer {
                z-index: 9999999999;
            }

            #divFacebook {
                padding: 10px 0 !important;
            }
        }

        @media (max-width:480px) {
            #nofile {
                white-space: nowrap;
                top: -5px;
            }
            #ddlOutageType{
                width:92% !important;
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            .hgt {
                    height: 87% !important;
                }
            input[type="text"], input[type="password"], textarea {
                width: 92%;
            }

            .customer_txt_name .topic_box select, #ddlOutageType {
                width: 91.2% !important;
            }

            #divTwitter {
                height:100% !important;
            }

             #divTwitter iframe {
                height:100% !important;
            }

        }
        #changePwdPopup #errorMsg
        {
                top: 7px !important;
               right: 20.7% !important;
            }

        .div_disclaimer{
            padding-top:8px;
        }

        .ajax__calendar .ajax__calendar_container {
             margin-left: 0px !important;
             margin-top: 0px !important;
         }


         .custo_details_1, .custo_details_2 {
             width:100%;
             float:left;

        }
         .right_content_box ul.custo_details_1 li, .right_content_box ul.custo_details_2 li   {
                 height: auto !important;
                 width: 35% !important;
              }
         .customer-details ul li:first-child {
                    padding-left: 19px;
                width: 62% !important;
            }

         ul.custo_details_2 {
             padding-top:4px;
         }
         .custo_details_space {
             padding-top:12px!important;
         }