 
        .printbtn {
            display: block !important;
        }
          .TableCellHeaderSearch {
    display: block!important;
}

        .discription_pro {
           max-height: 207px;
            margin: 6px 7px 0 2px;
            overflow: auto;
        }

        .customer_txt p {
            margin: 0 !important;
            padding: 10px 0 11px !important;
        }

        .customer_txt_name .topic_box select {
            border: 1px solid #d6d6d6;
            outline: medium none;
            padding: 5px 0;
            width: 85%;
        }

        .customer_txt_name p {
            margin: 0 0 3px;
            padding: 9px 0;
        }

        .gray_u {
            background: #e8e9e9;
        }

        .gray_w {
            background: #fff;
        }



        @media (min-width:768px) and (max-width:993px) {
            .cust_pop {
                width: 100% !important;
            }

            .contact_pop {
                width: 100% !important;
                border-top: 2px solid #ccc;
            }
        }


        .profile_img {
            float: left;
            width: 9%;
        }

            .profile_img span {
                display: none;
            }

        .details_box {
            width: 90%;
        }

        .show_details_right {
            float: right;
        }

            .show_details_right ul {
                padding-top: 5px !important;
            }

                .show_details_right ul li {
                    float: right;
                    width: auto;
                    border-bottom: 0px !important;
                    padding-bottom: 1px !important;
                }

        a.show_details_right_btn {
            background: #006699;
            color: #fff !important;
            float: right;
            text-decoration: none;
            padding: 4px 14px 6px;
            border-radius: 3px;
            font-size: 14px;
        }

        .details_box h5 {
            color: #13689b;
            font-size: 121%;
            font-weight: bold;
            margin: 6px 0 6px;
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
        }



        .details_box .register_lnk {
            margin-top: 0px;
        }

        .details_box .register_lnk {
            float: left;
            padding-bottom: 5px;
        }

        .like_btn_brdr {
            border: 1px solid #95d60a !important;
            border-radius: 8px;
            width: 81px;
            margin-top: 6px;
        }

        .details_box .register_lnk .like_lnk {
            background: rgba(0, 0, 0, 0) url("../images/like_img.png") no-repeat scroll center top;
            height: 23px;
            margin-top: 3px;
            padding-bottom: 27px;
            padding-right: 24px;
            vertical-align: top;
            outline: none !important;
            text-decoration: none !important;
        }

        .details_box .register_lnk .like_lnk_ro {
            background: rgba(0, 0, 0, 0) url("../images/like_img_ro.png") no-repeat scroll center top;
            height: 23px;
            margin-top: 3px;
            padding-bottom: 27px;
            padding-right: 24px;
            vertical-align: top;
            outline: none !important;
            text-decoration: none !important;
        }

        .right_content_box ul:nth-child(even) {
            background: #FDFDFD;
            margin: 1px 0px;
        }

        .right_content_box ul:hover {
            background: #f9f9f9;
        }


        .register_eff_lnk {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
            clear: both;
            margin-top: 5px;
            padding: 0 3px !important;
            position: static;
            width: 82px;
        }

            .register_eff_lnk a {
                background: none;
                color: #069;
                display: block;
                padding: 2px 6px 8px;
                font-size: 17px;
                text-decoration: none;
                width: 105px;
                text-align: center;
            }

                .register_eff_lnk a:hover {
                    color: #069;
                }


        .modal-header {
            background: none repeat scroll 0 0 #f7f7f7;
            border-bottom: 1px solid #e5e5e5;
            min-height: 16.43px;
            padding: 7px 15px;
            border-radius: 5px 5px 0px 0px !important;
        }

        .discription_pro {
            padding: 0px 16px 16px 16px;
            font-size: 13px;
            line-height: 23px;
            text-align: justify;
            color: #797979;
        }


        /*#showdetails_effi button.close {
            border: 1px solid #ccc;
            border-radius: 50%;
            padding: 3px 8px;
            background-color: #ccc;
            color: #fff;
            font-weight: normal;
            opacity: 99;
        }*/

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            /* Safari only override */
            ::i-block-chrome, .right_content_box ul li {
                height: auto;
                display: table;
                width: 100%;
            }

            ::i-block-chrome, .details_box .register_lnk ul li, ::i-block-chrome, .details_box .view_details li {
                height: auto;
                width: auto;
            }

            ::i-block-chrome, li.register_eff_lnk {
                width: auto !important;
                float: right;
            }

            ::i-block-chrome, .details_box .register_lnk ul li {
                float: left;
                padding: 4px 12px 12px 7px;
                border-bottom: 0px;
                margin-bottom: 0px;
                background: url(../images/divider_like_lnk.png) no-repeat left 14px !important;
                width: 77px;
                line-height: 17px;
            }

            ::i-block-chrome, .details_box .register_lnk span {
                display: inline-block;
            }

            ::i-block-chrome, .details_box .register_lnk ul li:first-child {
                background: none !important;
            }
        }

        .SearchIcon {
            background: url("images/SearchIcon.png") no-repeat scroll left top;
            cursor: pointer;
            height: 28px;
            display: inline-block;
            margin: 0 5px 3px 0;
            width: 27px;
            float: left;
             display:none !important;
        }

        .TableCellHeaderSearch input[type="text"], input[type="password"], textarea {
            padding: 6px 10px 5px;
            border-radius: 0;
            width: 93%;
            border: 1px solid #d6d6d6;
            float: left;
            font-size: 13px;
            font-weight: normal;
        }

        .TableCellHeaderSearch {
            float: right;
            padding: 0px 0px 0px;
            width: 197px;
        }

        .like_lnk {
            background: rgba(0, 0, 0, 0) url("../images/like_img.png") no-repeat scroll center top;
            height: 23px;
            margin-top: 0px;
            padding-bottom: 12px;
            padding-right: 24px;
            vertical-align: top;
            outline: none !important;
            text-decoration: none !important;
             position: relative;
               top: -10px;
        }

        .like_lnk_ro {
            background: rgba(0, 0, 0, 0) url("../images/like_img_ro.png") no-repeat scroll center top;
            height: 23px;
            margin-top: 0px;
            padding-bottom: 12px;
            padding-right: 24px;
            vertical-align: top;
            outline: none !important;
            text-decoration: none !important;
             position: relative;
               top: -10px;
        }


        .efficiency_area ul li .content_energy_area h2 {
            font-size: 14px;
            margin-bottom: 10px;
        }
        /* Edited by prashant starts for iphone*/
        @media (min-width:300px) and (max-width:767px) {
            .TableCellHeaderSearch {
                float: right;
                padding: 0;
                width: 160px;
            }

            .img_area .img {
                width: 100%;
            }

                .img_area .img img {
                    width: 100%;
                    height: 120px;
                }

            .right_efficency {
                background: #f4f4f4 none repeat scroll 0 0;
                float: left;
                margin: 0;
                padding: 5px;
                width: 100%;
            }

                .right_efficency ul li {
                    float: left;
                    margin: 0;
                    padding: 0 !important;
                    width: 33.33%;
                }

                    .right_efficency ul li span {
                        font-size: 12px;
                        font-weight: normal;
                    }

            .discription_pro {
                font-size: 12px;
                line-height: 17px;
            }

            #showdetails_effi .modal-dialogue {
                margin: 60px auto;
                width: 100%;
            }

            #showdetails_effi .modal-content {
                margin: 0 auto;
                width: 100%;
            }

            #showdetails_effi .modal-header {
                padding: 5px 15px;
            }

            #showdetails_effi button.close {
                padding: 0 5px;
            }

            .modal-title {
                line-height: 1.42857;
                margin: 0;
                font-size: 12px;
                font-weight: bold;
            }

            #showdetails_effi .right_efficency {
                margin: 0;
                padding: 5px 10px;
                text-align: center;
                width: 100%;
            }

            .efficiency_area ul li {
                height: 100%;
                margin: 10px 5px;
                padding: 0;
                position: relative;
                width: 100%;
            }

                .efficiency_area ul li .top_div_img {
                    height: auto;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

            .top_div_img > img {
                height: 150px !important;
            }

            .efficiency_area ul li .content_energy_area {
                height: auto;
                margin: 0;
                padding: 0 10px;
                width: 100%;
            }

            .bottom_efficiency {
                bottom: 10px;
                position: relative;
                width: 93%;
                z-index: 999;
            }

            .efficiency_area ul li .content_energy_area h1 {
                font-size: 14px;
                font-weight: bold;
                margin: 3px 0 7px;
                width: 85%;
            }
        }
        .efficiency_area ul li .content_energy_area .added_vote_area ul li:first-child {
                border-right: 0px solid #666;
        }
   .discription_pro ul
{
list-style : inherit!important;
list-style-position: inside !important;
}

   
.energy_mid_box {
    padding-bottom:15px !important;
}