

#change-pwd-divPopup .popup_area {
    height: auto !important;
}

#pwdError {
    background: rgba(60,60,60,.82);
    color: white;
    left: 20%;
}

#errorMsg {
    float: right;
    position: absolute;
    top: 7px;
    right: 20.7%;
    background: rgba(60,60,60,.82);
    color: white;
    padding: 3px 8px;
    box-shadow: 0px 1px 3px #ccc;
    display: none;
    z-index: 9999;
}
