.profile-details.my_acc_tbl_1 table tr td, .profile-details.my_acc_tbl_1 table tr th {
    display: inline-block;
    float: left;
    height: 43px;
}

.profile-details table .selector-text {
    line-height: 15px;
}

.electric_vehicle_box button.btn {
    width: 250px !important;
    background-color: #FFF;
    padding: 2px 0 6px 9px !important;
    margin: 0 0 0 0px;
}

.electric_vehicle_box b.caret {
    border-top: 9px solid #909090 !important;
    border-right: 9px solid transparent !important;
    border-left: 8px solid transparent !important;
    margin-top: 7px !important;
    float: right !important;
    margin-right: 13px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none !important;
    color: #4c82bb;
}

.multiselect-container.dropdown-menu {
    width: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #3C3C3C !important;
    text-decoration: none;
    background: none !important;
    outline: 0;
}

.multiselect-container > li > a > label {
    padding: 3px 17px 3px 9px !important;
}

.selector-text {
    width: 23%;
}

.radio-button-box {
    float: left;
    width: 19%;
}

.Quiet_Hours_to .schedule_time, .Quiet_Hours_from .schedule_time {
    width: 80%;
}

.Quiet_Hours_from select {
    float: left;
    margin: 0 0 0 6px !important;
    width: 29% !important;
}

.Quiet_Hours_to select {
    float: left;
    margin: 0 0 0 6px !important;
    width: 29% !important;
}

.electric_vehicle_box {
    width: 74%;
}

.cls_disclaimer {
    width: 74%;
    padding-left: 4px;
}


.profile-details {
    width: 100%;
    padding:0;
    /*padding: 11px 22px;*/
}

.gray-box {
    padding: 11px 22px;
}

.white_box {
    background: #fff !important;
}

.gray-box_rem_marg {
    padding: 6px 22px !important;
}

.selector-text {
    margin: 0px;
    font-weight: bold;
}

.power-plan-selector span {
    padding: 0px;
}

.inner-right-sub {
    padding-top: 0px;
}

.my_account_divider {
    border-top: 1px solid #ccc;
    float: left;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 11px;
    width: 100%;
}

.radio-button-box label {
    font-weight: bold;
}

.profile-details table {
    width: 100%;
}

    .profile-details table td, th {
        padding: 7px 0px 7px 7px;
        width: 20%;
        border: 1px solid #ccc;
        border-spacing: 0px;
        border-collapse: collapse;
    }

        .profile-details table td .radio-button-box, .profile-details table td .selector-text {
            width: 100%;
        }

.radio-button-box table td, th {
    border: 0px !important;
    padding: 0px;
}

.electric_vehicle_box .default-address-1 input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
}

.profile-details table .selector-text {
    padding-left: 8px;
    font-size: 12px;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .Quiet_Hours_to .schedule_time, .Quiet_Hours_from .schedule_time {
        width: 77%;
    }

    .electric_vehicle_box table tr td {
        width: 25%;
    }

    .profile-details table td, th {
        padding: 7px 5px !important;
    }

    .selector-text span {
        line-height: 11px !important;
        
    }
}

.selector-text span {
    display: inline-block;
    margin-right: 4px;
    text-align: left;
    width: 60px;
    white-space: nowrap;
}

.quitehoursdisable select {
    background-color: #d6d6d6;
}

.budgetlimit td {
    border: 0px !important;
}

.budgetlimit .budget_limit_box {
    padding-left: 17%;
}

.my_account_table .img_align_1 {
    width: 19px;
}

@media (max-width:1024px) {
    .budgetlimit .budget_limit_box {
        padding-left: 31px;
    }
}

@media (max-width:480px) {
    .my_account_divider {
        width: 680px !important;
    }

    .selector-text {
        width: 39%;
    }

    .my_account_table .img_align_1 {
        margin-left: -12px;
        margin-right: 0;
    }
}

.acc_inner_box_1 .profile-details:nth-child(odd) {
    /*background: #f4f4f4;*/
    background: none;
}

.acc_inner_box_1 .profile-details input {
    margin-top: 1px;
}

.inner_uni1 {
    height: 81% !important;
}

.inner_uni2 {
    height: 80% !important;
}

    .inner_uni2 .setting_save_box {
        padding-top: 12px !important;
    }

.inner_uni3 {
    height: 78% !important;
}

    .inner_uni3 .setting_save_box {
        padding-top: 4px !important;
    }

.inner_uni4 {
    height: 75% !important;
}

.help_popup_link, .help_popup_link_1 {
    position: relative;
    z-index: 999;
}

.help_popup_box, .help_popup_box_1 {
    display: none;
    width: 300px;
    min-height: 121px;
    border: 1px solid #E8E8E8;
    background: #fff;
    position: absolute;
    left: 55px;
    top: -18px;
    z-index: 9999;
    padding: 2px 10px;
    box-shadow: 1px 2px 6px #cdcdcd;
}

.help_popup_box_1 {
    left: 20px;
}

.help_popup_link img, .help_popup_link_1 img {
    cursor: pointer;
    z-index: 9999999;
    position: relative;
}

.help_popup_box h5, .help_popup_box_1 h5 {
    margin: 4px 0;
    padding: 4px 0px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 14px;
    font-weight: bold;
    color: #4C82BB;
}

.help_popup_box p, .help_popup_box_1 p {
    font-size: 12px;
}


.help_popup_box_bdr {
    width: 0;
    height: 0;
    border-right: 15px solid #fff !important;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 13px solid transparent;
    margin-left: -40px;
    position: absolute;
}

.help_popup_box_1 .help_popup_box_bdr {
    border-right: 15px solid #ECECEC !important;
}


i.icon.help.circle::before {
    content: "" !important;
}

.radio-button-box span {
    float: left;
    margin: 7px 0px 0px;
}

.radio-button-box input[type="text"] {
    width: 20%;
}

.right {
    border: 0 none !important;
    height: 48px;
    left: 0 !important;
    position: absolute !important;
    z-index: -1;
}

.ui.divider {
    -moz-user-select: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem;
    font-weight: 700;
    height: 0;
    letter-spacing: 0.05em;
    margin: 2px 0 8px 0px !important;
    text-transform: uppercase;
    padding: 0 !important;
}

h5 {
    font-weight: 700;
    margin: 0px 0px 8px !important;
    padding: 0;
    color: #006699 !important;
}

.help_icon_img {
    color: #6d6d6d;
    cursor: pointer;
    font-size: 24px;
    margin-left: -21px;
}


.radio-button-box input[type="text"] {
    width: 72%;
    height: 24px;
    transition: width 1s;
    -webkit-transition: width 1s; /* Safari */
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    padding-bottom: 3px;
}

    .radio-button-box input[type="text"]:focus {
        width: 75%;
    }

@media (min-width:300px) and (max-width:480px) {
    .img_align_1 img[src="images/icon_connectme_sidebar.svg"] {
        margin-top: -11px;
    }

    .profile-details table .selector-text {
        line-height: 12px;
    }

    .radio-button-box > #EbillBtn {
        width: 130%;
    }

    .main.container {
        margin: -3px 0 0 12px !important;
    }
}

@media (min-width:320px) and (max-width:768px) {
    .selector-text span {
        display: inline-block;
        margin-right: 4px;
        text-align: left;
        white-space: normal;
        width: 60px;
    }

    .radio-button-box span {
        float: left;
        font-size: 10px;
        margin: 7px 0 0;
        white-space: nowrap;
    }
}

.my_account_table .profile-details.my_acc_tbl table td, .my_account_table .profile-details.my_acc_tbl table th {
    width: 20%;
    float: left;
    height: 42px;
}


.img_title1 {
    padding-top: 12px !important;
    display: inline-block;
}

.img_align_1 img[src="images/icon-demand-response.svg"] {
    margin-top: -8px;
}


/*.popup_area .popup_area_home .popup_left_content_area_home {
                background: #f4f4f4 none repeat scroll 0 0;
                border-top: 1px solid #b7b7b7;
                float: left;
                color: #5c5c5c;
                margin: 0 0 1px;
                padding: 6px 13px;
                width: 100%;
            }

            .popup_area .popup_area_home .popup_right_content_area_home {
                float: left;
                margin: 0 0 3px;
                padding: 7px 13px 6px;
                width: 100%;
            }

            .popup_area .popup_area_home {
                color: #808080;
                display: block;
                font-size: 14px;
                margin: 2% auto 0;
                width: 100%;
            }*/

@media (min-width:768px) and (max-width:991px) {
    .Quiet_Hours_to .schedule_time, .Quiet_Hours_from .schedule_time {
        width: 81%;
    }

    .Quiet_Hours_from {
        float: left;
        width: 70%;
    }

        .Quiet_Hours_from select {
            float: left;
            margin: 0 0 0 6px !important;
            width: 29% !important;
            text-align: left !important;
        }

    .Quiet_Hours_to {
        float: left;
        margin-left: 23%;
        margin-top: 10px;
        text-align: left;
        width: 70%;
    }

        .Quiet_Hours_to select {
            float: left;
            margin: 0 0 0 6px !important;
            text-align: left !important;
            width: 29% !important;
        }

    .electric_vehicle_box table tr td {
        width: 33% !important;
    }

    .img_align_1 img[src="images/icon-demand-response.svg"] {
        margin-top: -15px;
    }
}

.profile-details.even {
    background: #f4f4f4 !important;
}

@media (min-width:320px) and (max-width:767px) {


    .img_align_1 img[src="images/icon_notif_setting.svg"] {
        width: 16px !important;
    }

    .top_conte_box_mob {
        height: 78% !important;
    }

    .energy_mid_box .right_content_box {
        height: 96%;
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .setting_save_box {
        padding-top: 0;
    }
}

#ddlLanguage, #txtPayment {
    border: 1px solid #d6d6d6 !important;
}

.mand_txt span.required {
    margin-right: -20px;
    display: inline-block;
    float: none;
}

.ui.popup.top {
    width:240px !important;
}