 .fancybox-lock .fancybox-overlay {
                z-index: 9999999999;
        }
        #change-pwd-divPopup {
            z-index: 9999999999;
        }

        .ajax__calendar_month {
            height: 44px;
            width: 35px !important;
        }
        .ajax__calendar_body {
               margin-left: -5px !important;
        }
        .divHide {
            display: none;
        }

        .service_fill_box input[type="text"] {
            width: 75%;
        }

        .move_in_pro {
            float: left;
            margin-right: 15px;
            padding-top: 5px;
            width: 15px;
            white-space: nowrap;
            position: relative;
            top: -27px;
            left: 27px;
        }

        @media only screen and (min-width:768px) and (max-width:991px) {
            .reason_select select {
                width: 75% !important;
            }

            .move_in_pro {
                width: 100%;
                top: 0;
            }

            .col-sm-6 #txt_Comments {
                width: 95% !important;
            }
        }

        .w2ui-tag .w2ui-tag-body {
            background-color: rgba(60,60,60,.82);
            display: inline-block;
            position: absolute;
            border-radius: 4px;
            padding: 4px 10px;
            margin-left: 21px !important;
            margin-top: 0;
            color: #fff !important;
            box-shadow: 1px 1px 3px #000;
            line-height: 100%;
            font-size: 11px;
            font-family: Verdana,Arial,sans-serif;
            width: 170px;
            white-space: normal;
        }

        #errorMsg {
            float: right;
            position: absolute;
            top: 8px;
            right: 0px;
            background: rgba(60,60,60,.82);
            color: white;
            padding: 3px 8px;
            box-shadow: 0px 1px 3px #ccc;
            display: none;
        }
        /*#5471-start*/
        .ajax__calendar .ajax__calendar_container {
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        /*#5471-end*/

        .without_sidebar {
            height: 89%;
        }

        .inner_uni1 {
            height: 82% !important;
        }

            .inner_uni1 .setting_save_box .connect_email_box {
                margin-top: 19px !important;
                padding-top: 5px !important;
            }

        .inner_uni2 {
            height: 81% !important;
        }

            .inner_uni2 .setting_save_box {
                padding-top: 12px !important;
            }

                .inner_uni2 .setting_save_box .connect_email_box {
                    margin-top: 19px !important;
                    padding-top: 5px !important;
                }

            .inner_uni2 .hgt_new {
                height: 86%;
            }

        .inner_uni3 {
            height: 80% !important;
        }

            .inner_uni3 .setting_save_box {
                padding-top: 12px !important;
            }

                .inner_uni3 .setting_save_box .connect_email_box {
                    margin-top: 10px !important;
                    padding-top: 5px !important;
                }

            .inner_uni3 .hgt {
                height: 85% !important;
            }

        .inner_uni4 {
            height: 76% !important;
        }



            .inner_uni4 .setting_save_box .connect_email_box {
                margin-top: 5px !important;
                padding-top: 5px !important;
            }

        @media only screen and (min-width : 768px) and (max-width : 991px) {
            #txtMODateofmoving, #txtTODateOfMoving {
                width: 25% !important;
            }
        }

        @media (max-width:767px) {
            
            .move_in_pro {
                position: static;
                 white-space: normal;
                  width: 100%;
            }
            #nofile {
                 float: left;
                margin-top: -12px;
            }
        }

        .header-top, header {
            position: relative;
            /*z-index: 999999999;*/
        }
        header {
            position:static !important;
        }

       

        #chk_Locked_gates, #chk_Pets {
            margin-left: 0px;
        }

        #changePwdPopup #errorMsg {
            top: 7px !important;
            right: 20.7% !important;
        }

        #errorMsg {
            top: -34px !important;
        }

        .secServiceTitle{
            padding: 7px 17px;
        }

        #disclaimer {
                padding-top: 9px;
               
        }
        /*input:not([type=button]):focus, select:focus, textarea:focus
        {
            height:30px !important;
            line-height:23px !important;
        }*/