<?xml version="1.0"?>

<appSettings>
  <add key="FileExtension" value="gif,png,bmp,jpeg,pdf,doc,docx,txt,xls,xlsx,rtf,jpg"/><!--File Extensions to be allowed to upload.-->
  <add key="attachmentpath" value="https://br-test.smartcmobile.com/AdminPortal/Attachments/"/>
  <add key="attachmentPdfpath" value="https://br-test.smartcmobile.com/portalservice/Attachments/Pdf/"/>
  <add key="Residential_css" value="css/Sprites_Residential.css"/>
  <add key="Commercial_css" value="css/Sprites_Commercial.css"/>
  
  <add key="CalendarDate" value="-1"/>
  <add key="CustomerActivationUrl" value="https://br-test.smartcmobile.com/portal/customer-verification.aspx"/>
  <add key="EnableOptimizations" value="false"/>
  <!--keys of sending email to customer - START-->
  <add key="CustomerRegistrationEmailBody1" value="&lt;span style='font-size:small; font-weight:bold'&gt;Verify your account:&lt;/span&gt;"></add>
  <add key="CustomerRegistrationEmailBody2" value="&lt;/br&gt;&lt;span style='font-size:small; font-weight:bold'&gt;Account#:&lt;/span&gt;"></add>
  <add key="CustomerRegistrationEmailBody3" value="&lt;/br&gt;&lt;/br&gt;&lt;span style='font-size:small; font-weight:bold'&gt;Link&lt;/span&gt;&lt;/br&gt;"></add>
  <add key="CustomerRegistrationEmailBody4" value="&lt;br&gt;&lt;br&gt;CustVeificationID,&lt;br&gt;"></add>
  <add key="banners" value="https://br-test.smartcmobile.com/adminservice/Attachments/Banners/"/>
  <add key="ApiUrl" value="https://sgdr.ladwp.com/TStatAppCtl/Service.svc/" />
  <add key="DREventUrl" value="https://energy.smartusys.net/SDRMS/Service.svc/"/>
  <add key="Def_Lattitude" value="34.109274"/>
  <add key="Def_Longitude" value="-83.762673"/>
  <add key="ThermoStateVersion" value="ecobee"/>
  <!--ecobee,ladwp -->
  <add key="ThermostatNames" value="Dining Room,Living Room"/>
  <add key="IsDRPrograms" value="0"/>
  <!--1(true) or 0(false) -->
  <add key="IsDResponse" value="0"/>
  <!--1 (to show ) and 0(hide)-->
  <add key="ThermostatNames_Spanish" value="Comedor,Sala"/>
  <add key="scmexpress" value="0"/>
  <add key="DefaultTitleSmartEnergy" value="Braselton: Login"/>
  <add key="AdminImagePath" value="http://10.100.1.99:1500/"/> <!--Path for Admin Logo-->
  <add key="EnableFlatFont" value="1"/><!--Enable Flat Font Style Set 1 to Enable-->
  <add key="PublicKey" value="6Lc8kiYTAAAAAK2u_EkY67ikOVH_2gLfZ65plKFU"/> <!--Key for Google Recaptcha-->
<add key="PrivateKey" value="6Ld2yTAUAAAAAGAgPPmhrkJvuEnpy07OFJ07BgCa"/> <!--Key for Google Recaptcha-->
  
<add key="RecaptchaKey" value="6Ld2yTAUAAAAAO7V-8ws4NR5Qnv4pcHiRn5n4kdc"/> <!--Key for Google Recaptcha for jquery-->


</appSettings>
