<?xml version="1.0"?>
<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_IDRProgram" maxReceivedMessageSize="200000" />
    <binding name="BasicHttpBinding_IPaymentGateway" />
    <binding name="BasicHttpBinding_IUserBehaviour" />
    <binding name="BasicHttpBinding_ICompareSpending" />
    <binding name="BasicHttpBinding_IElectricVehicle" />
    <binding name="BasicHttpBinding_IMyFootPrint" />
    <binding name="BasicHttpBinding_INotifications" maxReceivedMessageSize="64000000" />
    <binding name="BasicHttpBinding_IOutage" />
    <binding name="BasicHttpBinding_IGeneration" />
    <binding name="BasicHttpBinding_IService" />
    <binding name="BasicHttpBinding_ILogger" />
    <binding name="BasicHttpBinding_IUsage" maxReceivedMessageSize="64000000" />
    <binding name="BasicHttpBinding_IUserAccount" maxReceivedMessageSize="64000000" />
    <binding name="BasicHttpBinding_IAdminBilling" />
    <binding name="BasicHttpBinding_IMultilingual" maxReceivedMessageSize="64000000" />
    <binding name="BasicHttpBinding_IUserBilling" maxReceivedMessageSize="64000000" />
    <binding name="BasicHttpBinding_IKubraServices" />
    <binding name="BasicHttpBinding_ISmart" />
    <binding name="BasicHttpBinding_IConnectme" />
    <binding name="BasicHttpBinding_IUSPSService" />
    <binding name="BasicHttpBinding_IUserLogin" maxReceivedMessageSize="64000000" />
    <binding name="TransactionServiceSoapBinding">
      <security mode="Transport" />
    </binding>
    <binding name="SmartPayFormAPISoap">
      <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IRachio" />
    <binding name="BasicHttpBinding_IPayPalService" />
    <binding name="BasicHttpBinding_IEnergyEfficiency" />
    <binding name="BasicHttpBinding_IEcobeeService" />
  </basicHttpBinding>
</bindings>
   