<?xml version="1.0"?>
<client>
  <endpoint address="http://10.100.1.99/portalservice/DRProgram.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDRProgram"
    contract="DemandResponse.IDRProgram" name="BasicHttpBinding_IDRProgram" />
  <endpoint address="http://10.100.1.99/portalservice/PaymentGateway.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentGateway"
    contract="PaymentGateway.IPaymentGateway" name="BasicHttpBinding_IPaymentGateway" />
  <endpoint address="http://10.100.1.99/portalservice/UserBehaviour.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserBehaviour"
    contract="UserBehaviourService.IUserBehaviour" name="BasicHttpBinding_IUserBehaviour" />
  <endpoint address="http://10.100.1.99/portalservice/CompareSpending.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompareSpending"
    contract="UserCompareSpendingService.ICompareSpending" name="BasicHttpBinding_ICompareSpending" />
  <endpoint address="http://10.100.1.99/portalservice/MyFootPrint.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyFootPrint"
    contract="UserGreenFootprintService.IMyFootPrint" name="BasicHttpBinding_IMyFootPrint" />
  <endpoint address="http://10.100.1.99/portalservice/Generation.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeneration"
    contract="UserPowerGenerationService.IGeneration" name="BasicHttpBinding_IGeneration" />
  <endpoint address="http://10.100.1.99/portalservice/Service.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
    contract="UserServiceRequestService.IService" name="BasicHttpBinding_IService" />
  <endpoint address="http://10.100.1.99/portalservice/Logger.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogger"
    contract="UserLogger.ILogger" name="BasicHttpBinding_ILogger" />
  <endpoint address="http://10.100.1.99/portalservice/AdminBilling.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminBilling"
    contract="Configuration.IAdminBilling" name="BasicHttpBinding_IAdminBilling" />
  <endpoint address="http://10.100.1.99/portalservice/KubraServices.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKubraServices"
    contract="KubraServices.IKubraServices" name="BasicHttpBinding_IKubraServices" />
  <endpoint address="http://10.100.1.99/portalservice/Smart.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmart"
    contract="UserSmartHomeService.ISmart" name="BasicHttpBinding_ISmart" />
  <endpoint address="http://10.100.1.99/portalservice/Usage.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage"
    contract="UserUsageService.IUsage" name="BasicHttpBinding_IUsage" />
  <endpoint address="http://10.100.1.99/portalservice/Notifications.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotifications"
    contract="UserNotificationService.INotifications" name="BasicHttpBinding_INotifications" />
  <endpoint address="http://10.100.1.99/portalservice/Connectme.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectme"
    contract="UserConnectmeService.IConnectme" name="BasicHttpBinding_IConnectme" />
  <endpoint address="http://10.100.1.99/portalservice/USPSService.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUSPSService"
    contract="USPSService.IUSPSService" name="BasicHttpBinding_IUSPSService" />
  <endpoint address="https://trans.pacepayment.com/Web/services/TransactionService"
    binding="basicHttpBinding" bindingConfiguration="TransactionServiceSoapBinding"
    contract="SmartPayFromService.TransactionSOAPBindingImpl" name="TransactionService" />
  <endpoint address="https://smartpayform.com/api/transaction/transaction.asmx"
    binding="basicHttpBinding" bindingConfiguration="SmartPayFormAPISoap"
    contract="SmartPayFromApi.SmartPayFormAPISoap" name="SmartPayFormAPISoap" />
  <endpoint address="http://10.100.1.99/portalservice/Rachio.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRachio"
    contract="RachioService.IRachio" name="BasicHttpBinding_IRachio" />
  <endpoint address="http://10.100.1.99/portalservice/PayPalService.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPayPalService"
    contract="PayPalService.IPayPalService" name="BasicHttpBinding_IPayPalService" />
  <endpoint address="http://10.100.1.99/portalservice/UserAccount.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAccount"
    contract="UserAccountService.IUserAccount" name="BasicHttpBinding_IUserAccount" />
  <endpoint address="http://10.100.1.99/portalservice/Multilingual.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultilingual"
    contract="Multilingual.IMultilingual" name="BasicHttpBinding_IMultilingual" />
  <endpoint address="http://10.100.1.99/portalservice/UserLogin.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserLogin"
    contract="UserLoginService.IUserLogin" name="BasicHttpBinding_IUserLogin" />
  <endpoint address="http://10.100.1.99/portalservice/EnergyEfficiency.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnergyEfficiency"
    contract="UserEnergyEfficiencyService.IEnergyEfficiency" name="BasicHttpBinding_IEnergyEfficiency" />
  <endpoint address="http://10.100.1.99/portalservice/UserBilling.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserBilling"
    contract="UserBillingService.IUserBilling" name="BasicHttpBinding_IUserBilling" />
  <endpoint address="http://10.100.1.99/portalservice/EcobeeService.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEcobeeService"
    contract="EcobeeService.IEcobeeService" name="BasicHttpBinding_IEcobeeService" />
  <endpoint address="http://10.100.1.99/portalservice/ElectricVehicle.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IElectricVehicle"
    contract="UserElectricVehicleService.IElectricVehicle" name="BasicHttpBinding_IElectricVehicle" />
  <endpoint address="http://10.100.1.99/portalservice/Outage.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutage"
    contract="UserOutageService.IOutage" name="BasicHttpBinding_IOutage" />
</client>
  

