<?xml version="1.0"?>

<appSettings>
  <add key="FileExtension" value="gif,png,bmp,jpeg,pdf,doc,docx,txt,xls,xlsx,rtf,jpg"/>
  <!--Start for single sign on-->
  <add key="SSO_SITE_URL" value="http://br-test.smartcmobile.com/SSO/Authenticate.aspx?ReturnUrl={0}"/>
  <add key="LOGIN_URL" value="~/Default.aspx"/>
  <add key="DEFAULT_URL" value="~/Home.aspx"/>
  <!--End for single sign on-->
  <add key="CalenderDate" value="-1"></add>
  
  <add key="ConnectionString" value="server=10.200.1.4;Database=BraseltonSCM;user id=braselton_Prod;password=Password123!@#; Pooling=false; timeout = 2000" />
  <!--for dav-->
  <add key="outageradius" value="10" />
  <!--SendMail For Reset password
  <add key="EmailFrom" value="no-reply-braselton@smartcmobile.com" />
  <add key="SMTPClient" value="mail.smartusys.com" />
  <add key="SMTPSSL" value="false" />
  <add key="DefaultCredential" value="true" />
  <add key="SMTPPort" value="25" />
  <add key="TimeOut" value="50000" /> -->
  <add key="CustomerActivationUrl" value="https://br-test.smartcmobile.com/portal/customer-verification.aspx"/>

  <!--START***Send Grid Email Keys-->
  <add key="SendGridEmailFrom" value="no-reply-braselton@smartcmobile.com"/>
  <add key="SendGridUserName" value="Smartusys"/>
  <add key="SendGridPassword" value="Delhi2016&amp;"/>
  <add key="SendGridSMTPClient" value="smtp.sendgrid.net"/>
  <!--SendGridSMTPDetail-->
  <add key="SendGridSMTPSSL" value="false"/>
  <add key="SendGridDefaultCredential" value="false"/>
  <add key="SendGridSMTPPort" value="587"/>
  <add key="SendGridTimeOut" value="50000"/>
  <add key="SendGridDomain" value="" />
  <add key="SendGridMailfromname" value ="Town of Braselton"/>
  <!--END***Send Grid Email Keys-->
  
  <add key="EmailTo" value="smartusys@smartusys.com"/>
  <!--keys of sending email to customer - START-->
  <add key="CustomerRegistrationEmailBody1" value="&lt;span style='font-size:small; font-weight:bold'&gt;Verify your account:&lt;/span&gt;"></add>
  <add key="CustomerRegistrationEmailBody2" value="&lt;/br&gt;&lt;span style='font-size:small; font-weight:bold'&gt;Account#:&lt;/span&gt;"></add>
  <add key="CustomerRegistrationEmailBody3" value="&lt;/br&gt;&lt;/br&gt;&lt;span style='font-size:small; font-weight:bold'&gt;Link&lt;/span&gt;&lt;/br&gt;"></add>
  <add key="CustomerRegistrationEmailBody4" value="&lt;br&gt;&lt;br&gt;CustVeificationID,&lt;br&gt;"></add>
  <add key="Accountactivationsubject" value="Braselton Account Activation"></add>
  <add key="ZWSID" value="X1-ZWz1c3me8mm13f_6ikyi"/>
  <add key="ChangePasswordBody" value="&lt;br&gt;&lt;br&gt;Your Password has been Reset Successfully,&lt;br&gt;"      ></add>
  <add key="ChangePasswordFooter1" value="&lt;br&gt;&lt;br&gt;Thank you,&lt;br&gt;"></add>
  <add key="ChangePwdEmailSubject" value="Reset Password"></add>
  <add key="PortalUrl" value="https://br-test.smartcmobile.com/portal/images/"></add>
  <add key="ServiceRequestFooter" value="&lt;br&gt;&lt;br&gt;Thank you,&lt;br&gt;"      ></add>
  <add key="ServiceRequestSubject" value=" Service Request Status"></add>
  <add key="DefaultLongitude" value="-83.762673"/>
  <add key="DefaultLatitude" value="34.109274"/>
	
  <!--Modules Key-->

  <add key="Module" value="1,2,3,4,5,6,7,8"/>
  <add key="portalweb" value="https://br-test.smartcmobile.com/portal/default.aspx"></add>
  <add key="BaseUrl" value="https://br-test.smartcmobile.com/portal/Demand-Response/" />
  <add key="cspbaseurl" value="https://br-test.smartcmobile.com/portal/" />
  <add key="PDFLogo" value="https://br-test.smartcmobile.com/portal/Demand-Response/" />
  <add key="ApiUrl" value="https://sgdr.ladwp.com/TStatDBD/Service.svc/"/>
  <add key="LogPathCustomerPortal" value="https://sgdr.ladwp.com/TStatDBD/Service.svc/"/>
  <add key="LogPathService" value="D:\braselton\SCM\SCM\adminservice\Servicelog\"/>
  <add key="LogPathAdmin" value="https://sgdr.ladwp.com/TStatDBD/Service.svc/"/>
  <add key="LogPathAdminService" value="https://sgdr.ladwp.com/TStatDBD/Service.svc/"/>
  <!--key(s) for KUBRA  - START-->
  <add key="HashSalt" value="Zh]J6;Lz" />
  <add key="UTCformat" value="yyyy-MM-dd HHmm" />
  <!--key(s) for CRM Batch  END -->
  <add key="Logo" value="D:\braselton\SCM\SCM\portal\images" />
  <add key="CrashLog" value="https://br-test.smartcmobile.com/portalservice/crashlogs/"/>
 
  <add key="siqLink" value="https://br-test.smartcmobile.com/SIQPortal"/>
  <add key="siqadminLink" value="https://br-test.smartcmobile.com/SIQPortal"/>
  <add key="SIQEnable" value="Y"/> 
  
  <!-- Start for Configuration Path -->
  <add key="customerWebpath" value="D:\braselton\SCM\SCM\portal\"/>
  <add key="serviceWebpath" value="D:\braselton\SCM\SCM\portalservice\"/>
  <add key="adminpath" value="D:\braselton\SCM\SCM\admin\"/>
  <add key="adminservicepath" value="D:\braselton\SCM\SCM\AdminService\"/>

  <add key="portalfilehandler" value="https://br-test.smartcmobile.com/portal/Upload.ashx?"/> <!--Path for Customer Portal Handler-->


  <!-- End Configuration Path -->
    <add key="XMLPath" value="D:\braselton\SCM\SCM\portal\"/> <!-- Path to Save Multilingual XML -->
  <add key="resetlink" value="https://br-test.smartcmobile.com/adminportal/password_reset.aspx"/>

  <!--Keys for Showing view bill Start-->
  <add key="viewbill" value="1"/><!-- 1-Base,2-Infosend -->
  <add key="InfosendDateFormat" value="MM/dd/yy"/>
  <!--Keys for Showing view bill Ends-->
  
  <!--Keys for Infosend Start-->
  <add key="aeskey" value=""/>
  <add key="aesiv" value=""/>
  <add key="client" value="indiowa"/>
  <add key="baseurlinfosend" value=""/>
  <add key="passPhrase" value=""/>
  <add key="initVector" value=""/>
  <!--Keys for Infosend End-->
  
</appSettings>
  