<?xml version="1.0"?>
 <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsage" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGeneration" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICommon" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IBilling" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IConnectMe" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IOutage" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserReport" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUserLogin" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUserBehaviour" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGreenFootprint" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IElectricVehicle" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ICompareSpending" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INotifications" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IEnergyEfficency" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IMultilingual" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IServiceRequestAnalysis" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICurrentOutageDetailedAnalysis"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IOutageAnalysis" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IElectricUsageAnalysis" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGenerationAnalysis" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWaterUsageAnalysis" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IElectricVehicleUsageAnalysis" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IGasUsageAnalysis" maxReceivedMessageSize="2147483647"/>
		<binding name="BasicHttpBinding_ICustomerAnalysis" maxReceivedMessageSize="2147483647"/>
		<binding name="BasicHttpBinding_IBanners" maxReceivedMessageSize="2147483647" />
		 <binding name="Profile ManagementSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Profile ManagementSoap1" />
		
      </basicHttpBinding>
    </bindings>
   