<?xml version="1.0"?>
<client>
  <!--http://10.100.1.99/adminservice/Usage.svc/SoapService-->
  <endpoint address="http://10.100.1.99/adminservice/Usage.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage"
    contract="ServiceUsageReport.IUsage" name="BasicHttpBinding_IUsage" />
  <endpoint address="http://10.100.1.99/adminservice/EnergyEfficency.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnergyEfficency"
    contract="EnergyEfficency.IEnergyEfficency" name="BasicHttpBinding_IEnergyEfficency" />
  <endpoint address="http://10.100.1.99/adminservice/Billing.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBilling"
    contract="ServiceBillingReport.IBilling" name="BasicHttpBinding_IBilling" />
  <endpoint address="http://10.100.1.99/adminservice/Common.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommon"
    contract="ServiceCommon.ICommon" name="BasicHttpBinding_ICommon" />
  <endpoint address="http://10.100.1.99/adminservice/CompareSpending.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompareSpending"
    contract="ServiceCompareSpending.ICompareSpending" name="BasicHttpBinding_ICompareSpending" />
  <endpoint address="http://10.100.1.99/adminservice/ConnectMe.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectMe"
    contract="ServiceConnectmeReport.IConnectMe" name="BasicHttpBinding_IConnectMe" />
  <endpoint address="http://10.100.1.99/adminservice/ElectricVehicle.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IElectricVehicle"
    contract="ServiceElectricVehicle.IElectricVehicle" name="BasicHttpBinding_IElectricVehicle" />
  <endpoint address="http://10.100.1.99/adminservice/Generation.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeneration"
    contract="ServiceGenerationReport.IGeneration" name="BasicHttpBinding_IGeneration" />
  <endpoint address="http://10.100.1.99/adminservice/GreenFootprint.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreenFootprint"
    contract="ServiceGreenFootprint.IGreenFootprint" name="BasicHttpBinding_IGreenFootprint" />
  <endpoint address="http://10.100.1.99/adminservice/Notifications.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotifications"
    contract="ServiceNotificationReport.INotifications" name="BasicHttpBinding_INotifications" />
  <endpoint address="http://10.100.1.99/adminservice/Outage.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutage"
    contract="ServiceOutageReport.IOutage" name="BasicHttpBinding_IOutage" />
  <endpoint address="http://10.100.1.99/adminservice/Service.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
    contract="ServiceServiceReport.IService" name="BasicHttpBinding_IService" />
  <endpoint address="http://10.100.1.99/adminservice/UserBehaviour.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserBehaviour"
    contract="ServiceUserBehaviour.IUserBehaviour" name="BasicHttpBinding_IUserBehaviour" />
  <endpoint address="http://10.100.1.99/adminservice/UserLogin.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserLogin"
    contract="ServiceUserLogin.IUserLogin" name="BasicHttpBinding_IUserLogin" />
  <endpoint address="http://10.100.1.99/adminservice/UserReport.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserReport"
    contract="ServiceUserReport.IUserReport" name="BasicHttpBinding_IUserReport" />
  <endpoint address="http://10.100.1.99/adminservice/Multilingual.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultilingual"
    contract="ServiceMultilingual.IMultilingual" name="BasicHttpBinding_IMultilingual" />
  <endpoint address="http://10.100.1.99/adminservice/ServiceRequestAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRequestAnalysis"
    contract="ServiceRequestAnalysis.IServiceRequestAnalysis" name="BasicHttpBinding_IServiceRequestAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/CurrentOutageDetailedAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrentOutageDetailedAnalysis"
    contract="CurrentOutageDetailedAnalysis.ICurrentOutageDetailedAnalysis"
    name="BasicHttpBinding_ICurrentOutageDetailedAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/OutageAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutageAnalysis"
    contract="OutageAnalysis.IOutageAnalysis" name="BasicHttpBinding_IOutageAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/ElectricUsageAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IElectricUsageAnalysis"
    contract="ServiceElectricUsageAnalysis.IElectricUsageAnalysis"
    name="BasicHttpBinding_IElectricUsageAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/WaterUsageAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWaterUsageAnalysis"
    contract="WaterUsageAnalysis.IWaterUsageAnalysis" name="BasicHttpBinding_IWaterUsageAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/GasUsageAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGasUsageAnalysis"
    contract="GasUsageAnalysis.IGasUsageAnalysis" name="BasicHttpBinding_IGasUsageAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/ElectricVehicleUsageAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IElectricVehicleUsageAnalysis"
    contract="ElectricVehicleUsageAnalysis.IElectricVehicleUsageAnalysis"
    name="BasicHttpBinding_IElectricVehicleUsageAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/GenerationAnalysis.svc/SoapService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerationAnalysis"
    contract="GenerationAnalysis.IGenerationAnalysis" name="BasicHttpBinding_IGenerationAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/CustomerAnalysis.svc/SoapService"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerAnalysis"
      contract="CustomerAnalysis.ICustomerAnalysis" name="BasicHttpBinding_ICustomerAnalysis" />
  <endpoint address="http://10.100.1.99/adminservice/Banners.svc/SoapService"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanners"
      contract="ServiceBanners.IBanners" name="BasicHttpBinding_IBanners" />
  <endpoint address="https://usdemo.i-doxs.net/SmartUtilitySystems/ProfileManagement.asmx"
      binding="basicHttpBinding" bindingConfiguration="Profile ManagementSoap"
      contract="kubraprofilemanagement.ProfileManagementSoap" name="Profile ManagementSoap" />
</client>


