<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserSoap" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AdminPanel.UserLogin" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IUserLogin" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IUserLogin">
        </endpoint>
      </service>
      <service name="AdminPanel.Common" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.ICommon" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.ICommon">
        </endpoint>
      </service>
      <service name="AdminPanel.UserReport" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IUserReport" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IUserReport">
        </endpoint>
      </service>
      <service name="AdminPanel.Usage" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IUsage" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IUsage">
        </endpoint>
      </service>
      <service name="AdminPanel.Outage" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IOutage" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IOutage">
        </endpoint>
      </service>

      <service name="AdminPanel.Notifications" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.INotifications" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.INotifications">
        </endpoint>
      </service>
      <service name="AdminPanel.CompareSpending" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.ICompareSpending" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.ICompareSpending">
        </endpoint>
      </service>
      <service name="AdminPanel.Billing" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IBilling" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IBilling">
        </endpoint>
      </service>
      <service name="AdminPanel.Service" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IService" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IService">
        </endpoint>
      </service>

      <service name="AdminPanel.Generation" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IGeneration" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IGeneration">
        </endpoint>
      </service>
      <service name="AdminPanel.ConnectMe" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IConnectMe" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IConnectMe">
        </endpoint>
      </service>
      <service name="AdminPanel.UserBehaviour" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IUserBehaviour" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IUserBehaviour">
        </endpoint>
      </service>
      <service name="AdminPanel.GreenFootprint" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IGreenFootprint" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IGreenFootprint">
        </endpoint>
      </service>
      <service name="AdminPanel.ElectricVehicle" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IElectricVehicle" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IElectricVehicle">
        </endpoint>
      </service>

      <service name="AdminPanel.EnergyEfficency" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IEnergyEfficency" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IEnergyEfficency">
        </endpoint>
      </service>
	   <service name="AdminPanel.Multilingual" behaviorConfiguration="ServBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AdminPanel.IMultilingual" behaviorConfiguration="restPoxBehavior">
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IMultilingual">
        </endpoint>
      </service>
      <service name="AdminPanel.ServiceRequestAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IServiceRequestAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IServiceRequestAnalysis">
        </endpoint>
      </service>
    <service name="AdminPanel.CurrentOutageDetailedAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.ICurrentOutageDetailedAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.ICurrentOutageDetailedAnalysis">
        </endpoint>
      </service>
    <service name="AdminPanel.OutageAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IOutageAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IOutageAnalysis">
        </endpoint>
      </service>
    <service name="AdminPanel.ElectricUsageAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IElectricUsageAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="AdminPanel.IElectricUsageAnalysis">
        </endpoint>
      </service>
    <service name="AdminPanel.WaterUsageAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IWaterUsageAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.IWaterUsageAnalysis">
        </endpoint>
      </service>
     <service name="AdminPanel.GenerationAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IGenerationAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.IGenerationAnalysis">
        </endpoint>
      </service>
     <service name="AdminPanel.GasUsageAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IGasUsageAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.IGasUsageAnalysis">
        </endpoint>
      </service>
    <service name="AdminPanel.ElectricVehicleUsageAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IElectricVehicleUsageAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.IElectricVehicleUsageAnalysis">
        </endpoint>
      </service>
       <service name="AdminPanel.CustomerAnalysis" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.ICustomerAnalysis" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.ICustomerAnalysis">
        </endpoint>
      </service>
	   <service name="AdminPanel.Banners" behaviorConfiguration="ServBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="AdminPanel.IBanners" behaviorConfiguration="restPoxBehavior" >
        </endpoint>
        <endpoint address ="SoapService" binding="basicHttpBinding" contract="AdminPanel.IBanners">
        </endpoint>
      </service>
    </services>
 <client>
      <endpoint address="https://10.100.1.121/ldap_Auth/user.asmx" binding="basicHttpBinding" bindingConfiguration="UserSoap" contract="LdapAuthentication.UserSoap" name="UserSoap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <appSettings>
    <add key="ConnectionString" value="server=10.100.1.92;Database=BraseltonSCM;user id=Braselton_Prod;password=Password123!@#; Pooling=false; timeout = 2000" />
       <!--For Ldap-->
    <!-- <add key="DomainName" value="SUSINDIA.com" />
    <add key="ConnectionStringLdap" value="LDAP://OU=.NET,OU=Noida,DC=susindia,DC=com" />
    <add key="EmailFrom" value="smartusys@smartusys.com" />
    <add key="SMTPClint" value="mail.smartusys.com" />
    <add key="SMTPSSL" value="false" />
    <add key="DefaultCredential" value="true" />
    <add key="SMTPPort" value="25" />
    <add key="TimeOut" value="50000" /> --> 
	
	 <!--START***Send Grid Email Keys-->
    <add key="SendGridEmailFrom" value="no-reply-braselton@smartcmobile.com" />
    <add key="SendGridUserName" value="Smartusys"/>
    <add key="SendGridPassword" value="Delhi2016&amp;"/>
    <add key="SendGridSMTPClient" value="smtp.sendgrid.net"/>
    <!--SendGridSMTPDetail-->
    <add key="SendGridSMTPSSL" value="false"/>
    <add key="SendGridDefaultCredential" value="false"/>
    <add key="SendGridSMTPPort" value="587"/>
    <add key="SendGridTimeOut" value="50000"/>
    <add key="SendGridDomain" value="" />
    <add key="SendGridMailfromname" value ="Braselton"/>
     <!--END***Send Grid Email Keys-->	
	
    <add key="ServiceRequestFooter" value="&lt;br>&lt;br>Thank you,&lt;br>"></add>
    <add key="ServiceRequestSubject" value="Service Request"></add>

    <add key="ChangePasswordBody" value="&lt;br>&lt;br>Your Password has been Reset Successfully,&lt;br>"></add>
    <add key="ChangePasswordFooter1" value="&lt;br>&lt;br>Thank you,&lt;br>"></add>
    <add key="ChangePwdEmailSubject" value="Reset Password"></add>
	
	 <!--Push notifications andriod key-->
    <add key="pushkey" value="AIzaSyBLnnhm9oX9aeq78As_8TK7oNUS7M6dPn0"></add>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
