<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"  internalLogLevel="Debug" internalLogToConsole="true" >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

<targets>
    <target name="file" xsi:type="File"
        layout="DATE  ${longdate} LOGGER  ${logger} ${newline}${message} ${newline}.................................................................................................................. " 
        fileName="${basedir}/Servicelog/logfile.txt" 
        archiveFileName="${basedir}/Servicelog/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"
        concurrentWrites="true" />
</targets>

<rules>
    <logger name="*" minlevel="Info" writeTo="file" />
</rules>

</nlog>

                                                                          