<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
     <customErrors mode="Off">
     <!-- <error redirect="Error.aspx" statusCode="404" />
      <error redirect="Error.aspx" statusCode="400" />
      <error redirect="Error.aspx" statusCode="500" />
      <error redirect="Error.aspx" statusCode="503" />-->
    </customErrors> 
    <compilation targetFramework="4.0" />
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"></add>
    </httpHandlers>
    <httpRuntime maxRequestLength="10485760" requestValidationMode="2.0" />
    <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=10.200.1.4;Database=ASPState;user id=braselton_prod;Password=Password123!@#;" timeout="20"></sessionState>
        <machineKey decryptionKey="649C6018DD17C7DED1A487FBFD979B4221514C356A501F0C" validationKey="08B3BC47B9D7199FB589AA93AA70D4A1F4E7F67B8165130E6F762A4A2CFB0FF3A968CA873135E9A7021F12C085CE49500F83AD92A7948FCDA61108A0FF4487FB" />
  </system.web>
  <system.web.extensions>
    <!--To Checkmax size of JSON length-->
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <!-- <httpErrors errorMode="Custom">
      <remove statusCode="400" />
      <error statusCode="400" path="/Error.aspx" responseMode="Redirect" prefixLanguageFilePath="" />
      <remove statusCode="404" />
      <error statusCode="404" path="/Error.aspx" responseMode="Redirect" prefixLanguageFilePath="" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error.aspx" responseMode="Redirect" prefixLanguageFilePath="" />
      <remove statusCode="503" />
      <error statusCode="503" path="/Error.aspx" responseMode="Redirect" prefixLanguageFilePath="" />
    </httpErrors> --> 
    <handlers>
      <add name="AJAX.NET" path="Ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings configSource=".\config\app.config" />
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings configSource=".\config\bindings.config" />
    <client configSource=".\config\clients.config" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {511A5D7C-9125-4998-AEAA-F7A9B8D10EDE}-->