<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" />
    <sessionState timeout="1440" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="Profile ManagementSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Profile ManagementSoap1" />
        <binding name="Payment TransactionsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Payment TransactionsSoap1" />
        <binding name="Bill ViewsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Bill ViewsSoap1" />
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="2147483647" />
        <binding name="SusPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SusPortBinding1" />
        <binding name="SmartPayFormAPISoap">
          <security mode="Transport" />
        </binding>
        <binding name="SmartPayFormAPISoap1" />
        <binding name="TransactionServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="TransactionServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://usdemo.i-doxs.net/SmartUtilitySystems/ProfileManagement.asmx" binding="basicHttpBinding" bindingConfiguration="Profile ManagementSoap" contract="Kubraprofilemanagement.ProfileManagementSoap" name="Profile ManagementSoap" />
      <endpoint address="https://usdemo.i-doxs.net/SmartUtilitySystems/PaymentTransactions.asmx" binding="basicHttpBinding" bindingConfiguration="Payment TransactionsSoap" contract="Kubrapaymenttransactions.PaymentTransactionsSoap" name="Payment TransactionsSoap" />
      <endpoint address="https://usdemo.i-doxs.net/SmartUtilitySystems/BillView.asmx" binding="basicHttpBinding" bindingConfiguration="Bill ViewsSoap" contract="Kubrabillview.BillViewsSoap" name="Bill ViewsSoap" />
      <endpoint address="http://d.smartusys.net/WeatherDataService/Service.svc/SoapService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WeatherServices.IService" name="BasicHttpBinding_IService" />
      <endpoint address="https://160.206.148.26:443/BannerWs/Sus" binding="basicHttpBinding" bindingConfiguration="SusPortBinding" contract="CustomerHansenService.Sus" name="SusPort" />
	   <!--//Start Pace Payment-->
      <endpoint address="https://trans.pacepayment.com/Web/services/TransactionService"
        binding="basicHttpBinding" bindingConfiguration="TransactionServiceSoapBinding"
        contract="SmartPayFromService.TransactionSOAPBindingImpl" name="TransactionService" />
    <!--//End Pace Payment-->
    </client>
    <services>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.UserLogin">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUserLogin" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUserLogin" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Notifications">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.INotifications" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.INotifications" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.UserAccount">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUserAccount" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUserAccount" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Usage">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUsage" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUsage" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Connectme">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IConnectme" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IConnectme" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Service">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IService" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IService" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.MyFootPrint">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IMyFootPrint" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IMyFootPrint" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Outage">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IOutage" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IOutage" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Smart">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.ISmart" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.ISmart" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.UserBilling">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUserBilling" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUserBilling" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.ElectricVehicle">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IElectricVehicle" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IElectricVehicle" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Generation">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IGeneration" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IGeneration" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.EnergyEfficiency">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IEnergyEfficiency" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IEnergyEfficiency" />
      </service>

      <!--<service behaviorConfiguration="ServBehaviour" name="SCM_Service.PaymentGetway">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IPaymentGetway"/>
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IPaymentGetway"/>
      </service>-->
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.CompareSpending">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.ICompareSpending" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.ICompareSpending" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.UserBehaviour">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUserBehaviour" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUserBehaviour" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Logger">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.ILogger" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.ILogger" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.EcobeeService">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IEcobeeService" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IEcobeeService" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.DtecSurvey">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IDtecSurvey" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IDtecSurvey" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.DRProgram">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IDRProgram" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IDRProgram" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.AdminBilling">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IAdminBilling" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IAdminBilling" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.PayPalService">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IPayPalService" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IPayPalService" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.PaymentGateway">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IPaymentGateway" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IPaymentGateway" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.Multilingual">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IMultilingual" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IMultilingual" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.KubraServices">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IKubraServices" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IKubraServices" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.USPSService">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.IUSPSService" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.IUSPSService" />
      </service>
      <service behaviorConfiguration="ServBehaviour" name="SCM_Service.CrashLogReport">
        <endpoint address="" behaviorConfiguration="restPoxBehavior" binding="webHttpBinding" contract="SCM_Service.ICrashLogReport" />
        <endpoint address="SoapService" binding="basicHttpBinding" contract="SCM_Service.ICrashLogReport" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="SCM_Service.MultilingualAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000000000" />
    <add key="SapURL" value="https://odata-00390-1002265-emea.sapdemocloud.com/sap/opu/odata/sap/ERP_UTILITIES_UMC/" />
    <add key="SapSerURL" value="https://odata-00390-1002265-emea.sapdemocloud.com/sap/opu/odata/sap/CRM_UTILITIES_UMC/" />
    <add key="SapUID" value="ut-mcf" />
    <add key="SapPWD" value="welcome" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LogInputParamters" value="false" />
    <add key="connectMe" value="https://u.smartwateriq.com/Braselton-adminportal/Attachments/ConnectMe/" />
    <add key="FAQ" value="https://u.smartwateriq.com/Braselton-portal/FAQ.aspx" />
    <!--O- Oracle, S - SAP, D - default(SQL)-->
    <add key="datatype" value="D" />
    

   <add key="ConnectionString" value="server=10.200.1.175;Database=BraseltonSCM;user id=scmuser;password=Waterscm$uat@2016; Pooling=true; Max Pool Size=200; Min Pool Size=20; timeout = 30" />
   <!--key start for Pace -->
    <add key="Type" value="WEB"/>
    <add key="ckaccttype" value="2"/>
    <add key="ServiceFee_Acctid" value="PACRA"/>
    <add key="ServiceFee_Subid" value="MOULT"/>
    <add key="ServiceFee_MerchantPin" value="ZCOC7O7TVC9CU89ZADUTC31TCCOCQVM4"/>
	 <add key="vendor" value="PACE"/>
      <!--Keys For Convenience Fee-->
    <add key="Visa_Amount" value="200"/>
    <add key="Visa_UpTo_Amount" value="2.50"/><!--This is in $-->
    <add key="Visa_Over_Amount" value="2.50"/><!--This is in percentage-->
    
    <add key="Master_Amount" value="200"/>
    <add key="Master_UpTo_Amount" value="2.50"/><!--This is in $-->
    <add key="Master_Over_Amount" value="2.50"/><!--This is in percentage-->
    
    <add key="Discover_Amount" value="200"/>
    <add key="Discover_UpTo_Amount" value="2.50"/><!--This is in $-->
    <add key="Discover_Over_Amount" value="2.50"/><!--This is in percentage-->
    
    <add key="AmericanExpress_Amount" value="200"/>
    <add key="AmericanExpress_UpTo_Amount" value="2.50"/><!--This is in $-->
    <add key="AmericanExpress_Over_Amount" value="2.50"/><!--This is in percentage-->
    
    <add key="ACH_Amount" value="500"/>
    <add key="ACH_UpTo_Amount" value="0.00"/><!--This is in $-->
    <add key="ACH_Over_Amount" value="0.00"/><!--This is in percentage-->
    
    <add key="PaymentMethods" value="Visa#MasterCard#Discover#AmericanExpress#ACH"/>
    <add key="PaymentDesclaimer" value="There will be a $#upfee# transaction fee on payments up to $#amount# and #overfee#% of total payable amount on payments more than $#amount#." />
    <!--Keys For Convenience Fee END-->
	  <!--key end for Pace -->
	  
    <add key="EVimages" value="https://u.smartwateriq.com/Braselton-portal/images/pev/" />
    <add key="Modules" value="1,2,3,4,5,6,7,8,9,10,11,12" />
    <add key="SwipScreen" value="1,2,3,4" />
    <add key="radius" value="50" />
    <add key="NoofRecords" value="10" />
    <add key="footprintradius" value="50" />
    <add key="footprintNoofRecords" value="10" />
    <add key="EmailTo" value="jagdish.bisht@smartusys.com" />
    <!--START***Send Mail keys-->
    <add key="EmailFrom" value="no-reply-braselton@smartcmobile.com"/>
    <add key="Password" value="Smart@2013" />
    <add key="SMTPClient" value="mail.smartusys.com" />
    <add key="SMTPSSL" value="false" />
    <add key="DefaultCredential" value="true" />
    <add key="SMTPPort" value="25" />
    <add key="TimeOut" value="50000" />
    <!--END***Send Mail keys-->
    <!--START***Send Grid Email Keys-->
    <add key="SendGridEmailFrom" value="no-reply-braselton@smartcmobile.com" />
    <add key="SendGridUserName" value="sustest" />
    <add key="SendGridPassword" value="Smart@2016$" />
    <add key="SendGridSMTPClient" value="smtp.sendgrid.net" />
    <!--SendGridSMTPDetail-->
    <add key="SendGridSMTPSSL" value="false" />
    <add key="SendGridDefaultCredential" value="false" />
    <add key="SendGridSMTPPort" value="587" />
    <add key="SendGridTimeOut" value="50000" />
    <add key="SendGridDomain" value="" />
    <add key="SendGridMailfromname" value="Town of Braselton" />
    <!--END***Send Grid Email Keys-->
	 <!--Pay junction keys-->
    <add key="APIurl" value="https://api.payjunctionlabs.com/"/>
    <add key="APIUser" value="pj-ql-01"/>
    <add key="APIPassword" value="pj-ql-01p"/>
    <add key="X-PJ-Application-Key" value="7e88ada7-ea4e-4de2-8097-239b3f25907c"/>
    <add key="Accept" value="application/json"/>
    <add key="Content-Type" value="application/x-www-form-urlencoded"/>
    <add key="X-PJ-Application-Key" value="7e88ada7-ea4e-4de2-8097-239b3f25907c"/>
	<add key="ACHcard_surcharge" value="3"/>
	<add key="companymail" value="espahic@braselton.net"/>
    <!--end pay junction keys-->
    <add key="ForgotPwdEmailSubject" value="Password reset link" />
    <!--Settings for Payment Gateway-->
    <add key="ApiLogin" value="75sqQ96qHEP8" />
    <add key="TransactionKey" value="7r83Sb4HUd58Tz5p" />
    <add key="MerchantHash" value="MERCHANT_HASH" />
    <!--Setting for USPS-->
    <add key="USER_KeyId" value="263SMART6466" />
    <add key="resetlink" value="https://u.smartwateriq.com/Braselton-portal/password_reset.aspx" />
    <!--keys of email body for connectme-->
    <add key="Upload" value="https://u.smartwateriq.com/Braselton-portal/Upload.ashx" />
    <add key="Download" value="https://u.smartwateriq.com/Braselton-portal/Upload.ashx" />
    <add key="Payment" value="http://q.smartusys.net/SCMGetway8.3/" />
    <add key="CompanyUrl" value="http://www.braselton.net/" />
    <add key="PdfUrl" value="https://u.smartwateriq.com/Braselton-portal/BillReport.aspx?AccountNo=" />
    <add key="EVimages" value="https://u.smartwateriq.com/Braselton-portal/images/pev/" />
    <add key="connectMe" value="https://u.smartwateriq.com/Braselton-adminportal/Attachments/ConnectMe/" />
    <add key="Service" value="https://u.smartwateriq.com/Braselton-adminportal/Attachments/Service/" />
    <add key="BaseUrl" value="https://u.smartwateriq.com/Braselton-portal/" />
    <add key="CustomerActivationUrl" value="https://u.smartwateriq.com/Braselton-portal/customer-verification.aspx" />
    <!--keys of forgot username email - END-->
    <!--key(s) for KUBRA  - START-->
    <add key="HashSalt" value="Zh]J6;Lz" />
    <add key="UTCformat" value="yyyy-MM-dd HHmm" />
    <add key="HelpUrl" value="https://u.smartwateriq.com/Braselton-portal/user-guide-ios/index.html" />
    <add key="PaymentMode" value="0" />
    <add key="crashlogsandroid" value="CrashLogs\android"></add>
    <add key="crashlogsios" value="CrashLogs\ios"></add>
    <!--0:Base,1:Kubra,2:Pace Payment-->
    <!--key(s) for KUBRA  - END-->
    <add key="mode" value="sandbox" />
    <!--Keys for Connect Me Mail Configuration-->
    <add key="ConnectMeMessageBody1" value="Dear [User],&lt;/br&gt;&lt;/br&gt;Following Connect Me request has been sent for " />
    <add key="ConnectMeMessageBody2" value=".&lt;/br&gt;&lt;/br&gt; &lt;B&gt;Comments: &lt;/B&gt;" />
    <add key="ConnectMeMessageBody4" value=".&lt;/br&gt;&lt;/br&gt; &lt;B&gt;Utility Account Number: &lt;/B&gt;" />
    <add key="ConnectMeMessageBody5" value=".&lt;/br&gt;&lt;/br&gt;Mobile Number: &lt;B&gt;" />
    <add key="ConnectMeMessageBody3" value="&lt;/B&gt;&lt;/br&gt;&lt;/br&gt;Please find PDF Attachment attached for further details.&lt;/br&gt;&lt;/br&gt;No action is needed unless this activity occurred without your knowledge or permission. If you need assistance please contact our customer service by email at support@smartusys.com or by phone at 1-800-345-1567 or chat online by visiting us at www.scm.com&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;Thank You!&lt;/br&gt;&lt;/br&gt;SCM®&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;DO NOT REPLY TO THIS MESSAGE" />
    <!--Keys for Connect Me Mail Configuration  -  Ends-->
    <add key="ServiceMessageBody1" value="Dear Admin,&lt;/br&gt;&lt;/br&gt;Following Service request has been sent by " />
    <add key="ServiceMessageBody2" value=".&lt;/br&gt;&lt;/br&gt;&lt;B&gt;" />
    <add key="ServiceMessageBody3" value="&lt;/B&gt;&lt;/br&gt;&lt;/br&gt;Please find PDF Attachment attached for further details.&lt;/br&gt;&lt;/br&gt;No action is needed unless this activity occurred without your knowledge or permission. If you need assistance please contact our customer service by email at support@smartusys.com or by phone at 1-800-345-1567 or chat online by visiting us at www.scm.com&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;Thank You!&lt;/br&gt;&lt;/br&gt;Moreno Valley®&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;DO NOT REPLY TO THIS MESSAGE" />
    <add key="ServiceEmailBody1" value="Dear User,&lt;/br&gt;&lt;/br&gt;Following Service request has been sent by you." />
    <add key="ServiceEmailBody2" value=".&lt;/br&gt;&lt;/br&gt;&lt;B&gt;" />
    <add key="ServiceEmailBody3" value="&lt;/B&gt;&lt;/br&gt;&lt;/br&gt;Please find PDF Attachment attached for further details.&lt;/br&gt;&lt;/br&gt;No action is needed unless this activity occurred without your knowledge or permission. If you need assistance please contact our customer service by email at support@smartusys.com or by phone at 1-800-345-1567 or chat online by visiting us at www.scm.com&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;Thank You!&lt;/br&gt;&lt;/br&gt;Moreno Valley®&lt;/br&gt;&lt;/br&gt;&lt;/br&gt;DO NOT REPLY TO THIS MESSAGE" />
    <add key="ThermostatVersion" value="ladwp" />
    <!--ecobee,ladwp  // This key us use to select thermostat version between ecobee and ladwp-->
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to change the value to 
                    a larger value that can accommodate your JSON 
                    strings -->
        <jsonSerialization maxJsonLength=" 2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: {3892DD14-58F9-4251-8B19-E4F669A8B485}-->