<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
    <!--Start for single sign on-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SSOLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--End for single sign on-->
  </configSections>
  <system.web>
    <!-- <sessionState mode="SQLServer" allowcustomsqldatabase="true" sqlconnectionstring="Data Source=10.100.1.92;Initial Catalog=ASPSessionState;User ID=braselton_prod;Password=Password123!@#;cookieless=false; timeout=100 " /> -->
	<!-- </sessionState> -->
    <customErrors mode="Off">
      <error redirect="Error.aspx" statusCode="404" />
      <error redirect="Error.aspx" statusCode="400" />
      <error redirect="Error.aspx" statusCode="500" />
      <error redirect="Error.aspx" statusCode="503" />
    </customErrors>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider" />
      </providers>
    </sanitizer>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="10485760" requestValidationMode="2.0" />
    <!--Number of Bytes (10MB)-->
    <authentication mode="None" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
        <machineKey decryptionKey="2E68ACB27187EA7CF8C282ED0B5D51DA43BF4609EB0866CB" validationKey="D7C1CB250193D30603B3F3A984C4B327EFB9B8FDFBF21C13F57F30FB0CEC5465C92ACF15C46EC7E571C3A3221F6EEED6D2B4E383D1B4C92D49EBE8B363D86503" />
        <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=10.200.1.4;Database=ASPState;user id=braselton_prod;Password=Password123!@#;" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="AJAX.NET" path="Ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <!--To Checkmax size of JSON length-->
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--Start for single sign on-->
  <applicationSettings>
    <SSOLib.Properties.Settings>
      <setting name="SSOLib_Service_AuthService" serializeAs="String">
        <value>http://10.100.1.99/SSO/AuthService.asmx</value>
      </setting>
    </SSOLib.Properties.Settings>
  </applicationSettings>
  <!--End for single sign on-->
  <appSettings configSource=".\config\app.config" />
  <system.serviceModel>
    <bindings configSource=".\config\bindings.config" />
    <client configSource=".\config\clients.config" />
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {2510506F-24F8-428C-BD29-6CF9DEC1649D}-->